body{
  background-image: url('background.jpg');
  background-size: cover;
  padding-top: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: smaller;
}
.container{
  width: 800px;
  height: 600px;
  background-color: rgb(000, 0, 0, 0.5);
  margin: auto;
  border-radius: 10px;
}

.logo{
  display:block;
  margin:0px auto;
  text-align:center;
  width: 160px;
  padding-top: 70px;
}

.logo-text{
  text-align: center;
  color: lime;
  position: relative;
  bottom: 10px;
}

.navbar{
  width: 650px;
  height: 30px;
  background-color: lime;
  margin: auto;
  position: relative;
  bottom: 20px;
}

.buttons{
  text-align: center;
  position: relative;
  top: 5px;
}

.battery1{
  width: 250px;
  height: 20px;
  background-color: orange;
  position: relative;
  bottom: 20px;
  right: 20px;
  border-radius: 5px;
}


.battery2{
  width: 400px;
  height: 20px;
  background-color: limegreen;
  position: relative;
  bottom: 20px;
  right: 20px;
  border-radius: 5px;
}

.battery3{
  width: 100px;
  height: 20px;
  background-color: red;
  position: relative;
  bottom: 20px;
  right: 20px;
  border-radius: 5px;
}

section{
  color: white;
  position: relative;
  left: 50px;
}

p{
  position: relative;
  bottom: 10px;
  right: 20px;
}
